#wrap{
    width:100%;
    margin:0 auto;
    text-align: center;
}
#header{
    margin:20px;
    height:80px;
    border:solid 1px #0000FF;
}
#container{
    position:relative;
    margin:20px;
    height:400px;
}
#left_side{
    position:absolute;
    top:0px;
    left:0px;
    border:solid 1px #0000FF;
    width:170px;
    height:100%;
}
#content{
    margin:0px 190px 0px 190px;
    border:solid 1px #0000FF;
    height:100%;
}
#right_side{
    position:absolute;
    top:0px;
    right:0px;
    border:solid 1px #0000FF;
    width:170px;
    height:100%;
}
#footer{
    margin:20px;
    height:80px;
    border:solid 1px #0000FF;
}