ol{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,ul {
    list-style: none;
}

.menu {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #838b56;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.menu * {
    box-sizing: border-box;
}

.menu .center {
    width: 1200px;
}

.menu .ul-list {
    display: flex;
}

.menu .ul-list > li {
    flex: 1;
    border-right: 1px solid #333;
    position: relative;
}

.menu .ul-list > li:last-child {
    border-right: none;
}

.menu .ul-list > li > a {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: #838b56;
}

.menu .ul-list > li > span {
    color: #fff;
    font-size: 14px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #838b56;
}

.menu .ul-list > li:hover .ol-list {
    display: block;
}

.menu .ol-list {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 999;
    background: #333;
    width: 100%;
}

.menu .ol-list > li > a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222;
    justify-content: center;
}

.menu .ol-list > li > a:hover {
    background: #222;
}
